@use '../../app/styles/media' as media;

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-gray:#DDDDDD;
  --color-gray-dark:#5c5c5c;
  --color-accent: #FFD205;
  --color-accent-darken: #e4bb05;
  --color-win:#66c21a;
  --color-win-darken:#519b14;
  --color-lose: #66c21a3f;
  --color-lose-darken: #66c21a6e;


  --border-radius:5px;
  --border-radius-small:3px;

  --font-family-base: Roboto, sans-serif;
  --container-padding-x: 12px;

  --transition: all 0.2s ease;
}
